<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<title>{{TITLE}}</title>
		<meta name="description" content="{{META_DESCRIPTION}}" />
		<link rel="icon" type="image/png" href="/images/favicon.png">
		<link rel="stylesheet" type="text/css" href="assets/css/style.css">
		<script src="assets/js/jquery-3.5.1.min.js"></script>
		<script src="assets/js/script.js"></script>
	</head>
	<body>
		<div class="container">
			<center><p><a href="https://gitlab.com/tbhomework/homework" target="_blank">GitLab</a> &bull; <a href="https://gitlab.com/tbhomework/python" target="_blank">Python</a></p></center>
			<ul class="classes">
				<li><h4><a href="#" id="wdv341-toggle">WDV341 - Intro to PHP</a></h4></li>
				<li><h4><a href="#" id="wdv321-toggle">WDV321 - Advanced Javascript</a></h4></li>
				<li><h4><a href="#" id="wdv221-toggle">WDV221 - Intro to Javascript</a></h4></li>
			</ul>
			<ul class="classes">
				<li><h4><a href="#" id="wdv205-toggle">WDV205 - Advanced CSS</a></h4></li>
				<li><h4><a href="#" id="wdv131-toggle">WDV131 - Intro to Photoshop and Fireworks</a></h4></li>
				<li><h4><a href="#" id="wdv101-toggle">WDV101 - Intro to HTML and CSS</a></h4></li>
			</ul>
