<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<title>{{TITLE}}</title>
		<meta name="description" content="{{META_DESCRIPTION}}" />
		<link rel="icon" type="image/png" href="/images/favicon.png">
		<link rel="stylesheet" type="text/css" href="assets/css/style.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<script type="text/javascript" src="assets/js/script.min.js"></script>
	</head>
	<body>
		<div class="container">
			<ul class="classes">
				<li><h4><a href="#" id="wdv221-toggle">WDV221 - Intro to JavaScript</a></h4></li>
				<li><h4><a href="#" id="wdv205-toggle">WDV205 - Advanced CSS</a></h4></li>
				<li><h4><a href="#" id="wdv131-toggle">WDV131 - Intro to Photoshop and Fireworks</a></h4></li>
				<li><h4><a href="#" id="wdv101-toggle">WDV101 - Intro to HTML and CSS</a></h4></li>
			</ul>

