<div class="wdv341" style="display:none">
	<center>
		<h3>Intro to PHP</h3>
		<p><a href="mailto:{{EMAIL}}">Tanner Babcock</a></p>
	</center>
	<table class="files"><thead>
		<tr>
			<th><b>Assignment</b></th>
			<th><b>Link</b></th>
		</tr>
	</thead><tbody>
		<tr>
			<td>Unit 3 PHP Basics</td>
			<td><a href="wdv341/unit3basics">unit3basics.php</a></td>
		</tr>
		<tr>
			<td>Unit 4 Functions</td>
			<td><a href="wdv341/unit4functions">unit4functions.php</a></td>
		</tr>
		<tr>
			<td>Unit 5 File Upload</td>
			<td><a href="wdv341/unit5files">unit5files.php</a></td>
		</tr>
		<tr>
			<td>Unit 6 Connection File</td>
			<td><a href="wdv341/dbConnect">dbConnect.php</a> &amp; <a href="wdv341/dbTest">dbTest.php</a></td>
		</tr>
		<tr>
			<td>Unit 7 Create selectEvents.php</td>
			<td><a href="wdv341/selectEvents">selectEvents.php</a></td>
		</tr>
		<tr>
			<td>Unit 8 PHP Formatted Content</td>
			<td><a href="wdv341/retailProducts">retailProducts.php</a></td>
		</tr>
		<tr>
			<td>Unit 9 Formatting JSON Output</td>
			<td><a href="wdv341/deliverEventObject">deliverEventObject.php</a></td>
		</tr>
	</tbody></table>
</div>
<div class="wdv321" style="display:none">
	<center>
		<h3>Advanced Javascript</h3>
		<p><a href="mailto:{{EMAIL}}">Tanner Babcock</a></p>
	</center>
	<table class="files"><thead>
		<tr>
			<th><b>Assignment</b></th>
			<th><b>Link</b></th>
		</tr>
	</thead><tbody>
		<tr>
			<td>Unit 1 Review</td>
			<td><a href="wdv321/Unit-1jsReviewAssignment.html">Unit-1jsReviewAssignment.html</a></td>
		</tr>
		<tr>
			<td>Unit 2 Hi-Low Game in jQuery</td>
			<td><a href="wdv321/Unit-2jQuery.html">Unit-2jQuery.html</a></td>
		</tr>
		<tr>
			<td>Unit 3 Dynamic Structure Form</td>
			<td><a href="wdv321/Unit-3dynamicForm.html">Unit-3dynamicForm.html</a></td>
		</tr>
		<tr>
			<td>Unit 3 Dynamic Dropdown Form</td>
			<td><a href="wdv321/dynamicDropDownForm.html">dynamicDropDownForm.html</a></td>
		</tr>
		<tr>
			<td>Unit 4 Create Javascript Object</td>
			<td><a href="wdv321/Unit-4jsObject.html">Unit-4jsObject.html</a></td>
		</tr>
		<tr>
			<td>Unit 4 Create JSON Object</td>
			<td><a href="wdv321/Unit-4json.html">Unit-4json.html</a></td>
		</tr>
		<tr>
			<td>Unit 5 Cookies</td>
			<td><a href="wdv321/cookies/home.html">cookies/home.html</a> &amp; <a href="wdv321/cookies/about.html">about.html</a></td>
		</tr>
		<tr>
			<td>Unit 6 Demonstrate Local Storage</td>
			<td><a href="wdv321/localStorage/home.html">localStorage/home.html</a> &amp; <a href="wdv321/localStorage/about.html">about.html</a></td>
		</tr>
		<tr>
			<td>Unit 7 Consume JSON Objects</td>
			<td><a href="wdv321/Unit-7ajax.html">Unit-7ajax.html</a></td>
		</tr>
		<tr>
			<td>Dynamic Recipes Project</td>
			<td><a href="wdv321/recipes/home.html">recipes/home.html</a></td>
		</tr>
		<!--
		<tr>
			<td>Unit 6 Mocha Chai Test Automation</td>
			<td><a href="wdv321/mochaValid/test/validateRequiredField.test.js">validateRequiredField.test.js</a></td>
		</tr>
		-->
	</tbody></table>
</div>
<div class="wdv221" style="display:none">
	<center>
		<h3>Intro to Javascript</h3>
		<p><a href="mailto:{{EMAIL}}">Tanner Babcock</a></p>
	</center>
	<table class="files"><thead>
			<tr>
				<th><b>Assignment</b></th>
				<th><b>Link</b></th>
			</tr>
		</thead><tbody>
			<tr>
				<td>Unit 1</td>
				<td><a href="wdv221/unit1.html">unit1.html</a></td>
			</tr>
			<tr>
				<td>Unit 2</td>
				<td><a href="wdv221/unit2.html">unit2.html</a></td>
			</tr>
			<tr>
				<td>Unit 3 Functions</td>
				<td><a href="wdv221/unit3.html">unit3.html</a></td>
			</tr>
			<tr>
				<td>Unit 4 Functions</td>
				<td><a href="wdv221/unit4.html">unit4.html</a></td>
			</tr>
			<tr>
				<td>Unit 5 Style Object</td>
				<td><a href="wdv221/unit5.html">unit5.html</a></td>
			</tr>
			<tr>
				<td>Lab Exam #1</td>
				<td><a href="wdv221/lab/labExam.html">lab/labExam.html</a></td>
			</tr>
			<tr>
				<td>Unit 6 Operators and Textfields</td>
				<td><a href="wdv221/unit6.html">unit6.html</a></td>
			</tr>
			<tr>
				<td>Random Number Generator</td>
				<td><a href="wdv221/randomnumber.html">randomnumber.html</a></td>
			</tr>
			<tr>
				<td>Unit 7 Names</td>
				<td><a href="wdv221/unit7_names.html">unit7_names.html</a></td>
			</tr>
			<tr>
				<td>Unit 7 Numbers</td>
				<td><a href="wdv221/unit7_numbers.html">unit7_numbers.html</a></td>
			</tr>
			<tr>
				<td>Unit 8 Loops</td>
				<td><a href="wdv221/unit8.html">unit8.html</a></td>
			</tr>
			<tr>
				<td>Unit 9 Sales Tax</td>
				<td><a href="wdv221/unit9_sales_tax.html">unit9_sales_tax.html</a></td>
			</tr>
			<tr>
				<td>Skill Test - Form Calculations</td>
				<td><a href="wdv221/SkillTest-Form.html">SkillTest-Form.html</a></td>
			</tr>
			<tr>
				<td>Skill Test - Loops and Arrays</td>
				<td><a href="wdv221/SkillTest-LoopsArrays.html">SkillTest-LoopsArrays.html</a></td>
			</tr>
			<tr>
				<td>Skill Test - High Low Game</td>
				<td><a href="wdv221/SkillTest-HighLow.html">SkillTest-HighLow.html</a></td>
			</tr>
			<tr>
				<td>Skill Test - Preferences</td>
				<td><a href="wdv221/SkillTest-Preferences.html">SkillTest-Preferences.html</a></td>
			</tr>
		</tbody>
	</table>
</div>
<div class="wdv205" style="display:none">
	<center>
		<h3>Advanced CSS</h3>
		<p><a href="mailto:{{EMAIL}}">Tanner Babcock</a></p>
	</center>
	<p class="info">This page contains links to homework assignments.</p>
	<table class="files">
		<thead>
			<tr>
				<th><b>Assignment</b></th>
				<th><b>Link</b></th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>Unit 1 CSS Selector Specificity</td>
				<td><a href="wdv205/unit1_specificity.html">unit1_specificity.html</a></td>
			</tr>
			<tr>
				<td>Unit 2 Assignment</td>
				<td><a href="wdv205/unit2.html">unit2.html</a></td>
			</tr>
			<tr>
				<td>Unit 3 Assignment</td>
				<td><a href="wdv205/unit3.html">unit3.html</a></td>
			</tr>
			<tr>
				<td>Unit 4 Define CSS Preprocessor</td>
				<td><a href="wdv205/unit4_define.html">unit4_define.html</a></td>
			</tr>
			<tr>
				<td>Unit 4 Assignment</td>
				<td><a href="../opinions{{EXT}}?id=topfilms">/opinions?id=topfilms</a></td>
			</tr>
			<tr>
				<td>Unit 5 Assignment</td>
				<td><a href="wdv205/unit5.html">unit5.html</a></td>
			</tr>
			<tr>
				<td>Unit 6 Assignment</td>
				<td><a href="wdv205/unit6.html">unit6.html</a></td>
			</tr>
			<tr>
				<td>Unit 7 2D Transformations</td>
				<td><a href="wdv205/unit7.html">unit7.html</a></td>
			</tr>
			<tr>
				<td>Unit 7 3D Transformations</td>
				<td><a href="wdv205/unit7_3d.html">unit7_3d.html</a></td>
			</tr>
			<tr>
				<td>Unit 8 Assignment</td>
				<td><a href="wdv205/unit8.html">unit8.html</a></td>
			</tr>
			<tr>
				<td>Unit 9 Assignment</td>
				<td><a href="wdv205/unit9.html">unit9.html</a></td>
			</tr>
			<tr>
				<td>Cereal Box Ad</td>
				<td><a href="wdv205/CerealBox.html">CerealBox.html</a></td>
			</tr>
			<tr>
				<td>Unit 10 Responsive</td>
				<td><a href="wdv205/unit10.html">unit10.html</a></td>
			</tr>
			<tr>
				<td>Advertising Effect Project</td>
				<td><a href="wdv205/ad-effect.html">ad-effect.html</a></td>
			</tr>
			<tr>
				<td>Unit 11 Assignment</td>
				<td><a href="wdv205/boot_demo.html">boot_demo.html</a></td>
			</tr>
			<tr>
				<td>HTML5 Banner Ad</td>
				<td><a href="wdv205/banner.html">banner.html</a></td>
			</tr>
			<tr>
				<td>Portfolio</td>
				<td><a href="/portfolio/index{{EXT}}">/portfolio/index</a></td>
			</tr>
		</tbody>
	</table>
</div>
<div class="wdv131" style="display:none">
	<center>
		<h3>Intro to Photoshop and Fireworks</h3>
		<p><a href="mailto:{{EMAIL}}">Tanner Babcock</a></p>
	</center>
	<p class="info">This page contains links to my homework assignments. This is for the class <b><i>Intro to Photoshop and Fireworks</i></b>. Clicking the links to these files should download them.</p>
	<table class="files">
		<thead>
			<tr>
				<th><b>Assignment</b></th>
				<th><b>Link</b></th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>Freeform Crop Assignment</td>
				<td><a href="wdv131/FF_cropped/freeform.html">freeform.html</a></td>
			</tr>
			<tr>
				<td>Image Gallery</td>
				<td><a href="wdv131/ImageGallery/Image_Gallery_500.html">Image_Gallery_500.html</a>,
				<a href="wdv131/ImageGallery/Image_Gallery_250.html">250.html</a>,
				<a href="wdv131/ImageGallery/Image_Gallery_100.html">100.html</a>
				</td>
			</tr>
			<tr>
				<td>Special Image Effects</td>
				<td><a href="wdv131/SpecialImageEffects/special.html">special.html</a></td>
			</tr>
			<tr>
				<td>Skill Test 3</td>
				<td><a href="wdv131/Skill_Test_3/skilltest3.html">skilltest3.html</a></td>
			</tr>
			<tr>
				<td>Butterfly and Fish Sign</td>
				<td><a href="wdv131/butterfly.html">butterfly.html</a> and <a href="wdv131/fish_sign.html">fish_sign.html</a></td>
			</tr>
			<tr>
				<td>Movie with Multiple Images</td>
				<td><a href="wdv131/Movie.html">Movie.html</a></td>
			</tr>
			<tr>
				<td>Movie with Multiple Videos</td>
				<td><a href="wdv131/Babcock-Video.html">Babcock-Video.html</a></td>
			</tr>
		</tbody>
	</table>
</div>
<div class="wdv101" style="display:none">
	<center>
		<h3>Intro to HTML and CSS</h3>
		<p><a href="mailto:{{EMAIL}}">Tanner Babcock</a></p>
	</center>
	<p class="info">This page contains links to homework assignments.</p>
	<table class="files">
		<thead>
			<tr>
				<th><b>Assignment</b></th>
				<th><b>Link</b></th>
			</tr>
		</thead>
		<tbody>
			<tr>							
				<td>Tutorial 1 Case 1</td>
				<td><a href="wdv101/t1c1%20shop.html">t1c1 shop.html</a></td>
			</tr>
			<tr>
				<td>Tutorial 1 Case 2</td>
				<td><a href="wdv101/t1c2%20brick.html">t1c2 brick.html</a></td>
			</tr>
			<tr>
				<td>Tutorial 1 Case 3</td>
				<td><a href="wdv101/t1c3%20beth.html">t1c3 beth.html</a></td>
			</tr>
			<tr>
				<td>Tutorial 1 Case 4</td>
				<td><a href="wdv101/t1c4%20energy.html">t1c4 energy.html</a></td>
			</tr>						
			<tr>
				<td>Tutorial 2 Case 1</td>
				<td><a href="wdv101/t2c1%20barker.html">t2c1 barker.html</a> &amp; <a href="wdv101/t2c1%20week.html">t2c1 week.html</a></td>
			</tr>
			<tr>
				<td>Tutorial 2 Case 2</td>
				<td><a href="wdv101/t2c2%20club.html">t2c2 club.html</a></td>
			</tr>
			<tr>
				<td>Tutorial 3 Case 1</td>
				<td><a href="wdv101/t3c1%20wireless.html">t3c1 wireless.html</a></td>
			</tr>
			<tr>
				<td>Tutorial 3 Case 2</td>
				<td><a href="wdv101/t3c2%20record.html">t3c2 record.html</a></td>
			</tr>
			<tr>
				<td>Tutorial 4 Case 2</td>
				<td><a href="wdv101/t4c2%20womensweb.html">t4c2 womensweb.html</a></td>
			</tr>
			<tr>
				<td>Tutorial 4 Case 3</td>
				<td><a href="wdv101/t4c3%20power.html">t4c3 power.html</a></td>
			</tr>
			<tr>
				<td>Lab Project - Home Page</td>
				<td><a href="wdv101/labproject1/index.html">labproject1/index.html</a></td>
			</tr>
			<tr>
				<td>Lab Project - About Us</td>
				<td><a href="wdv101/labproject1/about.html">labproject1/about.html</a></td>
			</tr>
			<tr>
				<td>Lab Project - Products and Services</td>
				<td><a href="wdv101/labproject1/products.html">labproject1/products.html</a></td>
			</tr>
			<tr>
				<td>Tutorial 5 Case 1</td>
				<td><a href="wdv101/t5c1%20planetarium.html">t5c1 planetarium.html</a></td>
			</tr>
			<tr>
				<td>Tutorial 5 Case 2</td>
				<td><a href="wdv101/t5c2%20eventplanner.html">t5c2 eventplanner.html</a></td>
			</tr>
			<tr>
				<td>Tutorial 6 Case 3</td>
				<td><a href="wdv101/t6c3%20ziller.html">t6c3 ziller.html</a></td>
			</tr>
			<tr>
				<td>Tutorial 6 Case 4</td>
				<td><a href="wdv101/t6c4%20travel.html">t6c4 travel.html</a></td>
			</tr>
			<tr>
				<td>Tutorial 7 Case 2</td>
				<td><a href="wdv101/t7c2%20letter.html">t7c2 letter.html</a></td>
			</tr>
			<tr>
				<td>Tutorial 7 Case 4</td>
				<td><a href="wdv101/t7c4%20hooks.html">t7c4 hooks.html</a></td>
			</tr>
			<tr>
				<td>Final Project</td>
				<td><a href="/home{{EXT}}">/home</a></td>
			</tr>
		</tbody>
	</table>
</div>
