*DS_Store
*_DS_Store
*.mp4
/glitchbg.jpg
wdv341/dbConnect.php
node_modules
node_modules/*
wdv341/productImages
wdv341/productImages/*
wdv321/*/node_modules
wdv321/*/node_modules/*
package-lock.json
wdv321/*/package-lock.json
wdv321/cookies.jpg
wdv321/storage.jpg
wdv321/recipes/img
wdv321/recipes/img/*
wdv321/workingReact
wdv321/workingReact/*
wdv341/presentinginformationtechnology
wdv341/presentinginformationtechnology/*
wdv341/wax/img
wdv341/wax/img/*

