html {
	background-color:#000;
}

body {
	width:80%;
	margin-left:9%;
	margin-right:9%;
	background-color:#282828;
	font-size:20px;
	color:#fafafa;
	padding:7px;
}

a, a:link, a:active {
	color:#22fefe;
	text-decoration:none;
}

a:hover {
	color:#33ffff;
	text-decoration:underline;
}

table, table tbody, table thead {
	width:100%;
}

table thead th, table tbody td {
	background-color:#212121;
	width:49%;
	text-align:center;
	padding:4px;
}
