<!DOCTYPE html>
<!--
	Dynamic Recipes Project
	October - November 2020
	Tanner Babcock
-->
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="description" content="Awesome Recipes viewer. Use this page to select Recipe storage files to edit." />
	<title>Awesome Recipes &bull; View Recipes</title>
	<link rel="stylesheet" href="/homework/assets/css/recipesProject.css" />
	<link rel="stylesheet" href="/homework/assets/css/mobile.css" media="screen and (max-width: 700px)" />
	<link rel="stylesheet" href="/homework/assets/css/recipesProject.css" media="only screen and (min-width: 769px)" />
	<link rel="stylesheet" href="/homework/assets/css/landscape.css" media="only screen and (orientation: landscape) and (min-width:768px)(max-width:1024px)" />
	<link rel="stylesheet" href="/homework/assets/css/landscape.css" media="only screen and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2)" />
	<link rel="stylesheet" href="/homework/assets/css/mobile.css" media="only screen and (orientation: portrait)" />
	<link rel="icon" type="image/png" href="/images/favicon.png" />
	<script src="https://unpkg.com/vue@2.6.11"></script>
</head>
<body>
	<div class="container">
		<header>
			<h1>Awesome Recipes</h1>
			<nav>
				<ul>
					<li><a href="home.html" title="Awesome Recipes Home Page" alt="Awesome Recipes Home Page">Home</a></li>
					<li><a href="view.html" title="Awesome Recipes Recipe Browser" alt="Awesome Recipes Recipe Browser">View Recipes</a></li>
					<li><a href="edit.html" title="Go to Recipe Editor" alt="Go to Recipe Editor">Editor</a></li>
					<li><a href="about.html" title="About Awesome Recipes" alt="About Awesome Recipes">About</a></li>
				</ul>
			</nav>
		</header>
		<main class="container" v-if="recipeFiles">
			<div class="status top" v-html="status">

			</div>
			<table class="recipes"><tbody>
				<tr v-for="(rec, index) in recipeFiles">
					<td>{{ index + 1 }}. <b>{{ rec }}</b></td>
					<td>
						<button @click="OpenEditor(rec)" title="Open this file in the Awesome Recipe Editor" alt="Open this file in the Awesome Recipe Editor">Edit</button>
					</td>
					<td>
						<button @click="DeleteObject(rec)" title="Delete this Recipe file" alt="Delete this Recipe file">Delete</button>
					</td>
				</tr>
			</tbody></table>
			<div class="buttons">
				<button @click="NewRecipe" title="Starts a new Recipe in the Editor" alt="Starts a new Recipe in the Editor">New Recipe</button>
				&nbsp;&nbsp;&nbsp;&bull;&nbsp;&nbsp;&nbsp;
				<button @click="DeleteAll" title="Deletes all Recipes in local storage!" alt="Deletes all Recipes in local storage!">Delete All Recipes</button>
			</div>
		</main>
		<footer>
			<p><a href="/homework/wdv321/Unit-7ajax.html" title="Previous assignment" alt="Previous assignment">Unit 7: AJAX</a> <span>&bull;</span> <a href="https://github.com/Babkock/homework/tree/master/wdv321/mochaValid" title="Next assignment" alt="Next assignment">Unit 8: Mocha-Chai Test Automation</a></p>
			<p><a href="/homework/index">&rarr; Return to WDV321 Homework &larr;</a> <span>&bull;</span> <a href="https://github.com/Babkock/homework/tree/master/wdv321/recipes" target="_blank">GitHub</a></p>
			<p>Copyright &copy; 2020 Tanner Babcock.</p>
		</footer>
	</div>
	<script src="/homework/assets/js/view.min.js"></script>
</body>
</html>
