.ingredient { width: 100%; margin-top: 3px; margin-bottom: 3px;
}
.ingredient td { background-color: #12121f; padding: 4px; font-size: 1.08em; width: 24%; margin-left: 1px; margin-right: 1px; color: white;
}
.ingredient td input[type="text"] { background-color: #121212 !important; -moz-appearance: none; appearance: none !important; border: 1px solid #171717 !important; padding: 5px; color: #eee !important; font-size: 1.08em; margin: 1px; transition: background-color, color, border 0.2s ease 0s;
}
.ingredient td input[type="text"]:hover { background-color: #202020 !important; color: white !important; border: 1px solid #303d30 !important;
}
.ingredient td input:not(input[type="checkbox"]) { -moz-appearance: none; appearance: none; color: white !important; background-color: #121212 !important; border: 1px solid #171717 !important; font-size: 1.08em; padding: 5px; width: 80% !important;
}
.ingredient td select { -moz-appearance: none; appearance: none; color: white; padding: 5px; width: 100% !important; background-color: #121212 !important; border: 1px solid #192919;
}
.ingredient td select:hover { background-color: #203020; color: white !important; border: 1px solid #304130;
}
.ingredient td select option { padding: 5px; background-color: #121212 !important; border: 1px solid #191919;
}
.ingredient td select option:hover { background-color: green !important; border: 1px solid #192c19;
}
