body { background: radial-gradient(#bd501a, #0779bd); color: black; }

.container { color: black; font-family: "Arial" !important; width: 90%; margin-left: 5%; margin-right: 5%; }

a, a:link, a:visited, a:active { color: black; text-decoration: none; }

a:hover { color: #202020; }

p, li, a, b, span { font-size: 1.85em; }

nav { width: 100%; margin-left: 0%; margin-right: 0%; border-radius: 34px 34px 34px 34px; padding: 6px; margin-bottom: 4px; background-color: rgba(210, 210, 180, 0.3); color: black; }

nav ul { display: inline; text-align: center; width: 90%; }

nav ul li { list-style-type: none; width: 90%; margin-left: 5%; margin-right: 5%; border: 1px solid gray; margin-top: 4px; margin-bottom: 5px; border-radius: 30px 30px 30px 30px; }

nav ul li a { font-size: 1.89em; padding: 5px; color: black; border-radius: 30px 30px 30px 30px; }

nav ul li a:hover { padding: 5px !important; background-color: #df6061; color: white; }

.recipe { color: black !important; }

#displaySlider { display: flex; flex-wrap: wrap; flex-direction: column; justify-content: center; }

#displaySlider .box { padding: 6px; width: 98%; margin-left: 1%; margin-right: 1%; border: 2px solid #80bd1d; background: rgba(220, 250, 240, 0.4); margin-top: 5px; margin-bottom: 5px; border-radius: 32px 32px 32px 32px; color: black; }

#displaySlider .box h2 { color: #802865 !important; }

form { font-size: 1.62em; display: block; padding: 7px; border: 1px solid rgba(0, 0, 0, 0); border-radius: 34px 34px 34px 34px; margin-top: 3px; margin-bottom: 3px; }
