@keyframes classlink {
	0% { background-color:#ba1010; color:red; }
	15% { background-color:orange; color:blue; }
	30% { background-color:tan; color:purple; }
	45% { background-color:darkgreen; color:lime; }
	60% { background-color:blue; color:lightgreen; }
	75% { background-color:#1032c9; color:orangered; }
	90% { background-color:#a5129e; color:skyblue; }
	100% { background-color:#b31413; color:red; }
}

@-webkit-keyframes classlink {
	0% { background-color:#aa0202; color:red; }
	15% { background-color:orange; color:blue; }
	30% { background-color:tan; color:purple; }
	45% { background-color:darkgreen; color:lime; }
	60% { background-color:blue; color:lightgreen; }
	75% { background-color:#0012a9; color:orangered; }
	90% { background-color:#95028e; color:skyblue; }
	100% { background-color:#aa0403; color:red; }
}

div#container {
	background-color:#202020 !important;
	border:0 !important;
}

span.cc {
	background:black;
	font-family:monospace;
	padding:2px;
	border:1px solid gray;
	color:white;
	border-radius:5px 5px 5px 5px;
}

.container {
	width:84%;
	margin-left:8%;
	margin-right:7%;
	opacity:1;
	transition:background-color 0.3s ease 0s;
	ul, div {
		padding:8px;
		color:white;
	}
	div {
		transition:display 0.9s ease 0s;
	}
}
h4 {
	a {
		font-size:1.64em;
		padding:5px;
		background:none;
		text-shadow:none;
		transition:color, background, text-shadow, font-size 0.3s ease 0s;
	}
	a:hover {
		color:#efefef;
		font-size:1.67em;
		padding:5px;
		text-shadow:1px 1px white;
		background:rgba(240, 240, 240, 0.25);
	}
}

ul, li {
	list-style-type:none;
}

html {
	background-color:#000;
}

body {
	font-family:"Mercury Text G1 A", "Mercury Text G1 B";
	font-feature-settings:"liga", "kern";
	font-stretch:normal;
	width:99%;
	margin-left:0;
	margin-right:0;
	font-size:1.01em;
	color:#eaeaea;
	padding:7px;
	overflow-x:hidden;
}

a, a:link, a:active {
	color:#229e9e;
	text-decoration:none;
}

a:hover {
	color:#33cdcd;
	text-decoration:underline;
}

h1, h2, h3, h4 {
	font-family:"Gotham Narrow A", "Gotham Narrow B";
}

p {
	font-size:1.07em;
}

footer {
	text-align:center;
	margin-top:5px;
	margin-bottom:4px;
}

table {
	width:92%;
	margin-left:4%;
	margin-right:3.5%;
	tbody, thead {
		width:100%;
		tr th, tr td {
			background-color:#040433;
			box-shadow:1px 1px gray;
			font-size:1.09em;
			margin:3px;
			width:49%;
			text-align:center;
			padding:6px;
			transition:background-color, box-shadow 0.2s ease 0s;
		}
		tr th:hover, tr td:hover {
			background-color:#330702;
			width:49%;
			font-size:1.09em;
			text-align:center;
			padding:6px;
		}
	}
	tbody {
		tr td a, tr td a:link, tr td a:visited, tr td a:active {
			color:cyan;
			font-size:1.15em;
			text-decoration:none;
			transition:color, text-shadow, text-decoration 0.4s ease 0s;
		}
		tr td a:hover {
			color:skyblue;
			font-size:1.15em;
			text-decoration:underline;
		}
	}
}

table.files tbody tr td:hover, table.files thead tr td:hover {
	box-shadow:1px 1px red;
}

.js {
	width:100%;
	tbody, thead {
		width:100%;
		tr td {
			background-color:#181818;
			width:auto;
			max-width:24% !important;
			font-size:1.08em;
			padding:6px;
			margin:2px;
			font-size:1.1em;
			text-align:left;
		}
		tr td:hover {
			background-color:#181818 !important;
			width:auto !important;
			max-width:24% !important;
			font-size:1.08em;
			text-align:left;
			font-size:1.1em !important;
			padding:6px;
		}
	}
}

code {
	background-color:#050505;
	color:#dedede;
	border:1px solid gray;
	padding:4px;
	font-family:monospace;
	font-size:1.17em;
	display:block;
	width:94%;
	margin-left:3%;
	margin-right:3%;
	line-height:1.1;
	&:hover {
		border:1px solid white;
	}
}

input[type="text"] {
	-moz-appearance:none !important;
	appearance:none !important;
	background-color:#191e1d;
	color:white;
	border:1px solid gray;
	padding:5px;
	font-size:1.14em;
}

input[type="submit"], form p input[type="submit"], button, form button, form p button {
	padding:7px;
	font-size:1.18em;
	background-color:#221010;
	color:white;
	margin:5px;
	border:1px solid gray;
	box-shadow:1px 1px white;
	margin-bottom:5px;
	&:hover {
		background-color:#392020;
		color:white;
		border:1px solid white;
		box-shadow:1px 1px red;
	}
	&:active {
		background-color:#203718;
		color:white;
		border:1px solid green;
		box-shadow:none !important;
	}
}

input[type="file"] {
	appearance:none;
	-moz-appearance:none;
	padding:4px;
	font-size:1.18em;
	color:white;
	background-color:rgba(0, 0, 0, 0.3);
	border:1px solid gray;
	margin:6px;
	&:active {
		color:lime;
		background-color:#203718;
		border:1px solid lime;
	}
}

select {
	-moz-appearance:none !important;
	appearance:none !important;
	margin:4px;
	padding:5px;
	background-color:#222222;
	color:white;
	border:1px solid gray;
}
center select option, center form select option {
	-moz-appearance:none !important;
	appearance:none !important;
	padding:5px;
	font-size:1.19em;
	background-color:#202020;
	color:white;
}
form {
	width:90%;
	margin-left:5%;
	margin-right:5%;
	background-color:#202c21;
	border:1px solid #ccc;
	padding:3px;
	text-align:center;
	p {
		font-size:1.13em;
	}
	label {
		font-size:1.15em;
	}
	select {
		padding:5px !important;
		font-size:1.19em;
		background-color:#202020 !important;
		color:white;
		-moz-appearance:none !important;
		appearance:none !important;
	}
	p input[type="checkbox"], p input[type="radio"] {
		padding:3px;
		height:30px;
		width:30px;
	}
}

ul.classes {
	display:flex;
	justify-content:center;
	flex-wrap:nowrap;
	flex-flow:row;
	width:100%;
	animation-delay:0.4s;
	-webkit-animation-delay:0.4s;
	animation-name:classlink;
	-webkit-animation-name:classlink;
	animation-duration:5s;
	-webkit-animation-duration:5s;
	animation-iteration-count:infinite;
	-webkit-animation-iteration-count:infinite;
	transition:background, background-color 0.4s ease 0s;
	li {
		margin:3px;
		padding:5px;
		width:32% !important;
		height:auto;
		min-height:120px;
		max-height:140px;
		margin-left:2px;
		margin-right:2px;
		border:2px solid white;
		background:rgba(0, 0, 0, 0.21);
		transition:background, border 0.2s ease 0s;
	}
	li:hover {
		background:rgba(100, 200, 150, 0.31);
		border:2px solid red;
	}
	&:hover {
		filter:invert(1) hue-rotate(90deg);
	}
}

.box {
	width:90%;
	background-color:#201d1c;
	border:1px solid gray;
	color:#dfdfdf;
	padding:5px;
	padding-left:7px;
	margin-left:5%;
	margin-right:5%;
}

nav {
	width:90%;
	margin-left:5%;
	margin-right:5%;
	padding:5px;
	text-align:center;
	ul {
		width:90%;
		text-align:center;
		display:flex;
		li {
			list-style-type:none;
			width:23%;
			margin-left:1%;
			margin-right:1%;
			font-size:1.13em;
			color:white;
			border:1px solid gray;
			a {
				width:100%;
				display:block;
			}
		}
		li:hover {
			color:#efdfdf;
			font-size:1.13em;
			text-decoration:underline;
			list-style-type:none;
			border:1px solid white;
		}
	}
}

p.error {
	color:red;
}
p.success {
	color:lime;
}

.imgOutput {
	border:1px solid gray;
	background-color:#201d1c;
	color:#dfdfdf;
	width:80%;
	margin-left:10%;
	margin-right:9%;
	padding:4px;
	text-align:center;
	margin-top:4px;
	margin-bottom:6px;
	img {
		max-width:90%;
		width:auto;
		height:auto;
		opacity:0.85;
		box-shadow:2px 2px black;
		border:1px solid black;
	}
	img:hover {
		opacity:1;
		border:1px solid gray;
		box-shadow:2px 2px black;
	}
}