@keyframes classlink {
	0% { background-color:#aa0202; color:red; }
	15% { background-color:orange; color:blue; }
	30% { background-color:tan; color:purple; }
	45% { background-color:darkgreen; color:lime; }
	60% { background-color:blue; color:lightgreen; }
	75% { background-color:#0012a9; color:orangered; }
	90% { background-color:#95028e; color:skyblue; }
	100% { background-color:#aa0403; color:red; }
}

@-webkit-keyframes classlink {
	0% { background-color:#aa0202; color:red; }
	15% { background-color:orange; color:blue; }
	30% { background-color:tan; color:purple; }
	45% { background-color:darkgreen; color:lime; }
	60% { background-color:blue; color:lightgreen; }
	75% { background-color:#0012a9; color:orangered; }
	90% { background-color:#95028e; color:skyblue; }
	100% { background-color:#aa0403; color:red; }
}

div#container {
	background-color:#202020 !important;
	border:0 !important;
}

span.cc {
	background:black;
	font-family:monospace;
	padding:2px;
	border:1px solid gray;
	color:white;
	border-radius:5px 5px 5px 5px;
}

.container {
	width:84%;
	margin-left:8%;
	margin-right:7%;
	opacity:1;
	transition:background-color 0.3s ease 0s;
	ul, div {
		padding:8px;
		color:white;
	}
	div {
		transition:display 0.9s ease 0s;
	}
}
h4 {
	a {
		color:#c4a2a2;
		border:1px solid skyblue;
		border-radius:7px 7px 7px 7px;
		font-size:1.7em;
		padding:6px;
		background:none;
		animation-delay:0.4s;
		-webkit-animation-delay:0.4s;
		animation-name:classlink;
		-webkit-animation-name:classlink;
		animation-duration:5s;
		-webkit-animation-duration:5s;
		animation-iteration-count:infinite;
		-webkit-animation-iteration-count:infinite;
		transition:background, background-color, color, border 0.4s ease 0s;
	}
	a:hover {
		color:#d9b3b3;
		border:1px solid lime;
		border-radius:7px 7px 7px 7px;
		font-size:1.7em;
		padding:6px;
		animation-delay:0.4s;
		-webkit-animation-delay:0.4s;
		animation-name:classlink;
		-webkit-animation-name:classlink;
		animation-duration:5s;
		-webkit-animation-duration:5s;
		animation-iteration-count:infinite;
		-webkit-animation-iteration-count:infinite;
		background-color:darkgreen;
	}
}

ul, li {
	list-style-type:none;
}

html {
	background-color:#000;
}

body {
	width:99%;
	margin-left:0;
	margin-right:0;
	font-size:1.01em;
	color:#eaeaea;
	padding:7px;
	overflow-x:hidden;
}

a, a:link, a:active {
	color:#229e9e;
	text-decoration:none;
}

a:hover {
	color:#33cdcd;
	text-decoration:underline;
}

table {
	width:100%;
	tbody, thead {
		width:100%;
		tr th, tr td {
			background-color:#040433;
			box-shadow:1px 1px gray;
			margin:2px;
			width:49%;
			text-align:center;
			padding:4px;
			transition:background-color, box-shadow 0.2s ease 0s;
		}
		tr th:hover, tr td:hover {
			background-color:#330702;
			box-shadow:1px 1px red;
			width:49%;
			text-align:center;
			padding:4px;
		}
	}
	tbody {
		tr td a, tr td a:link, tr td a:visited, tr td a:active {
			color:cyan;
			font-size:1em;
			text-decoration:none;
			transition:color, text-shadow, text-decoration 0.4s ease 0s;
		}
		tr td a:hover {
			color:skyblue;
			font-size:1em;
			text-decoration:underline;
		}
	}
}

input[type="submit"], form p input[type="submit"], button, form button, form p button {
	padding:7px;
	font-size:1.18em;
	background-color:#221010;
	color:white;
	margin:2px;
	border:1px solid gray;
	margin-bottom:5px;
}

select {
	-moz-appearance:none !important;
	appearance:none !important;
	margin:4px;
	padding:5px;
	background-color:#222222;
	color:white;
	border:1px solid gray;
}
center select option, center form select option {
	-moz-appearance:none !important;
	appearance:none !important;
	padding:5px;
	font-size:1.19em;
	background-color:#202020;
	color:white;
}
form {
	width:90%;
	margin-left:5%;
	margin-right:5%;
	background-color:#202c21;
	border:1px solid #ccc;
	padding:3px;
	text-align:center;
	p {
		font-size:1.13em;
	}
	label {
		font-size:1.15em;
	}
	select {
		padding:5px !important;
		font-size:1.19em;
		background-color:#202020 !important;
		color:white;
		-moz-appearance:none !important;
		appearance:none !important;
	}
	p input[type="checkbox"], p input[type="radio"] {
		padding:3px;
		height:30px;
		width:30px;
	}
}

ul.classes {
	display:flex;
	width:100%;
	li {
		margin:3px;
	}
}

.box {
	width:90%;
	background-color:#201d1c;
	border:1px solid gray;
	color:#dfdfdf;
	padding:5px;
	padding-left:7px;
	margin-left:5%;
	margin-right:5%;
}