<main id="about">
	<h2>What is WaXchange?</h2>
	<p><b>WaXchange</b> is a dynamic music marketplace, and ever-growing community of music lovers. It uses to a database to keep track of albums, users, and purchases. The front end is written in Vue.js and relies heavily on AJAX. Users can post albums (or whatever type of release) for sale, and then purchase albums from other users. <a href="register">It's free to register</a>. WaXchange facilitates transactions between a wide variety of different countries and currencies.</p>
</main>
