<!DOCTYPE html>
<html lang="en">
	<head>
		<title>{{TITLE}}</title>
		<meta charset="utf-8" />
		<meta name="description" content="{{DESCRIPTION}}" />
		<link rel="icon" href="/images/favicon.png" />
		<link rel="stylesheet" href="/homework/assets/css/waxchange.css" />
	</head>
	<body>
		<div class="container">
			{{IF_LOGGED_IN}}
			<header class="loggedin">
				<h1>WaXchange</h1>
				<nav class="navigation">
					<ul>
						<li><a href="/homework/wdv341/wax/index">Home</a></li>
						<li><a href="/homework/wdv341/wax/browse">Browse</a></li>
						<li><a href="/homework/wdv341/wax/album">Post Album</a></li>
						<li><a href="/homework/wdv341/wax/user?id={{USERID}}">My Account</a></li>
						<li><a href="/homework/wdv341/wax/logout">Log Out</a></li>
					</ul>
				</nav>
			</header>
			{{ENDIF}}
			{{IF_NOT_LOGGED_IN}}
			<header class="notloggedin">
				<h1>WaXchange</h1>
				<nav class="navigation">
					<ul>
						<li><a href="/homework/wdv341/wax/login">Login</a></li>
						<li><a href="/homework/wdv341/wax/register">Register</a></li>
						<li><a href="/homework/wdv341/wax/browse">Browse</a></li>
						<li><a href="/homework/wdv341/wax/about">About</a></li>
						<li><a href="/homework/wdv341/wax/contact">Contact</a></li>
					</ul>
				</nav>
			</header>
			{{ENDNIF}}
			<main id="about">

			</main>
			<footer>
				<p><a href="/homework/index?c=wdv341">&rarr; Return to WDV341 Homework &larr;</a></p>
				<p>Copyright &copy; 2020 Tanner Babcock.</p>
			</footer>
		</div>
	</body>
</html>
