<main id="account">
	<div class="avatar">
		<img src="{{USERIMG}}" />
	</div>
	<h2>{{USERNAME}}</h2>
	<h3>(User ID #{{USERID}})</h3>
	<div class="bio">
		{{BIOGRAPHY}}
	</div>
	<p>Email: {{USEREMAIL}}</p>
	<p>Country: {{USERCOUNTRY}}</p>
	<p>Registered: {{REGISTERED}}</p>
	<p>Sales: {{SALES}}</p>
	<input type="hidden" name="id" id="userid" value="{{USERID}}" />
	<div class="ajax-error" v-html="ajaxError">

	</div>
	<h3>Albums for Sale:</h3>
	<div class="albums-box" v-if="inventory.length > 0">
		<album v-for="(al, index) in inventory" v-if="al.buyer === ''" :myid="al.id" :aartist="al.artist" :atitle="al.title" :aposted="al.posted" :acountry="al.country" :key="index">
			<template slot="img">
				<img :src="al.image" />
			</template>
			<template slot="info">
				<h2>{{ al.discs }} x <span class="media" v-text="al.media"></span></h2>
				<h3><span class="price">${{ al.price }}</span> from {{ al.seller }}</h3>
				{{EDITBUTTON}}
			</template>
			<template slot="tracklist">
				<ol v-if="al.tracklist.length > 0">
					<li v-for="tr in al.tracklist">{{ tr.title }} <i>({{ tr.length }})</i></li>
				</ol>
				<p><b>{{ al.label }}</b></p>
			</template>
		</album>
	</div>

	<h3>Collection:</h3>
	<div class="albums-box" v-if="purchased.length > 0">
		<album v-for="(al, index) in purchased" :myid="al.id" :aartist="al.artist" :atitle="al.title" :aposted="al.posted" :acountry="al.country" :key="index">
			<template slot="img">
				<img :src="al.image" />
			</template>
			<template slot="info">
				<h2>{{ al.discs }} x <span class="media" v-text="al.media"></span></h2>
				<h3><span class="price">${{ al.price }}</span> from {{ al.seller }}</h3>
			</template>
			<template slot="tracklist">
				<ol v-if="al.tracklist.length > 0">
					<li v-for="tr in al.tracklist">{{ tr.title }} ({{ tr.length }})</li>
				</ol>
				<p><b>{{ al.label }}</b></p>
			</template>
		</album>
	</div>
</main>
<script src="/homework/assets/js/waxAccount.min.js"></script>
