<main id="editor">
	<input type="hidden" name="mode" id="mode" value="{{EDITMODE}}" />
	<form action="" class="album-editor" method="post" enctype="multipart/form-data">
		<div class="cover" v-if="uploaded && (album.image.length > 1)">
			<img :src="album.image" />
		</div>
		<h2 v-html="editMsg"></h2>
		<table class="main-album-info"><tbody>
			<tr>
				<td><label><b>Seller</b>:</label></td>
				<td>{{USERNAME}}</td>
			</tr>
			<tr v-if="album.buyer.length > 1">
				<td><label><b>Buyer</b>:</label></td>
				<td v-text="album.buyer"></td>
			</tr>
			<tr v-if="album.posted.length > 1">
				<td><label><b>Date Posted</b>:</label></td>
				<td v-text="NicePosted(album.posted)"></td>
			</tr>
			<tr v-if="album.purchased.length > 1">
				<td><label><b>Date Purchased</b>:</label></td>
				<td v-text="NicePosted(album.purchased)"></td>
			</tr>
		</tbody></table>
		<br />
		<table class="main-album-info"><tbody>
			<tr is="input-row" labe="Album Title" title="The title of the album. Do not include any additional information about the edition, such as 'Live' or [20th Anniversary]." name="title" :value="album.title" plchold="Album Title" @input="album.title = $event" ></tr>
			<tr is="input-row" labe="Artist" title="The artist who made the album. Just use 'One &amp; Two' for collaborations." name="artist" :value="album.artist" plchold="Album Artist" @input="album.artist = $event"></tr>
			<tr>
				<td><label for="discs"><b>Number of Discs</b>:</label></td>
				<td><input type="number" v-model="album.discs" name="discs" @blur="album.discs = parseInt($event.target.value)" /></td>
			</tr>
			<tr>
				<td><label for="media"><b>Media</b>:</label></td>
				<td>
					<select title="The physical medium of the music." alt="The physical medium of the music." name="media" v-model="album.media">
						<option value="" selected>Select Media</option>
						<option value="Vinyl" {{VINYL_SELECT}}>Vinyl</option>
						<option value="CD" {{CD_SELECT}}>CD</option>
						<option value="Cassette" {{CASSETTE_SELECT}}>Cassette</option>
					</select>
				</td>
			</tr>
			<tr is="input-row" labe="Price" title="The price of the album." name="price" :value="album.price" plchold="XX.XX" maxlen="5" size="5" @input="album.price = $event"></tr>
			<tr>
				<td><label for="currency"><b>Currency</b>:</label></td>
				<td>
					<select title="What currency goes with this price?" alt="What currency goes with this price?" name="currency" v-model="album.currency">
						<option value="" selected>Select Currency</option>
						<option value="usd">US Dollars</option>
						<option value="cad">Canadian Dollars</option>
						<option value="aud">Australian Dollars</option>
						<option value="mxn">Mexican Pesos</option>
						<option value="gbp">GB Pounds</option>
						<option value="eur">Euros</option>
						<option value="rub">Russian Rubles</option>
						<option value="dkk">Danish Krone</option>
						<option value="sek">Swedish Krona</option>
						<option value="isk">Iceland Krona</option>
						<option value="pln">Poland Zloty</option>
						<option value="krw">Korean Won</option>
						<option value="jpy">Japanese Yen</option>
						<option value="nok">Norweigan Krone</option>
						<option value="ang">Dutch Guilders</option>
						<option value="cny">Chinese Yuan Renminbi</option>
						<option value="chf">Swiss Francs</option>
					</select>
				</td>
			</tr>
			<tr is="input-row" labe="Release Year" title="The year the album was released." name="label" :value="album.year" maxlen="4" size="4" plchold="YYYY" @input="album.year = parseInt($event)"></tr>
			<tr is="input-row" labe="Record Label" title="The record label that released the album." name="label" :value="album.label" plchold="Records Records" @input="album.label = $event"></tr>
			<tr>
				<td><label for="country"><b>Country</b>:</label></td>
				<td>
					<select v-model="album.country" @change="album.country = $event.target.value" title="What country is this package being shipped from?" alt="What country is this package being shipped from?">
						<option value="">Select Country</option>
						<option value="us">United States</option>
						<option value="ca">Canada</option>
						<option value="mx">Mexico</option>
						<option value="uk">United Kingdom</option>
						<option value="ie">Ireland</option>
						<option value="ru">Russian Federation</option>
						<option value="fr">France</option>
						<option value="es">Spain</option>
						<option value="de">Germany</option>
						<option value="pl">Poland</option>
						<option value="lx">Luxembourg</option>
						<option value="dk">Denmark</option>
						<option value="se">Sweden</option>
						<option value="no">Norway</option>
						<option value="nl">Netherlands</option>
						<option value="fl">Finland</option>
						<option value="au">Australia</option>
						<option value="it">Italy</option>
						<option value="lv">Latvia</option>
						<option value="cn">China</option>
						<option value="jp">Japan</option>
						<option value="ph">Philippines</option>
						<option value="kr">South Korea</option>
						<option value="cz">Czech Republic</option>
						<option value="br">Brazil</option>
						<option value="is">Iceland</option>
						<option value="am">Armenia</option>
						<option value="az">Azerbaijan</option>
						<option value="ch">Switzerland</option>
						<option value="at">Austria</option>
						<option value="ua">Ukraine</option>
						<option value="tr">Turkey</option>
						<option value="ba">Bosnia and Herzegovina</option>
						<option value="in">India</option>
						<option value="hu">Hungary</option>
					</select>
				</td>
			</tr>
			<tr>
				<td><label for="cond"><b>Condition</b>:</label></td>
				<td>
					<select title="What is the physical condition of this item?" alt="What is the physical condition of this album?" name="cond" v-model="album.cond">
						<option value="" selected>Select Condition</option>
						<option value="m" {{M_SELECT}}>Mint</option>
						<option value="nm" {{NM_SELECT}}>Near Mint</option>
						<option value="vg" {{VG_SELECT}}>Very Good</option>
						<option value="g" {{G_SELECT}}>Good</option>
						<option value="f" {{F_SELECT}}>Fair</option>
						<option value="p" {{P_SELECT}}>Poor</option>
					</select>
				</td>
			</tr>
			<tr v-if="!uploaded">
				<td><label for="image"><b>Image Filename</b>:</label></td>
				<td><input type="text" v-model="album.image" placeholder="image.jpg" name="imageFilename" @blur="album.image = 'img/album/' + $event.target.value" title="The filename to use for the album cover image. Must be unique." alt="The filename to use for the album cover image. Must be unique." size="80" maxlength="80" /></td>
			</tr>
			<tr v-if="!uploaded">
				<td><label for="image"><b>Upload Album Cover</b>:</label></td>
				<td><input type="file" ref="image" name="image" @change="file = true" title="Upload an image file to use for the album cover." alt="Upload an image file to use for the album cover." /></td>
			</tr>
		</tbody></table>

		<h2>Track Listing:</h2>
		<div class="buttons">
			<p>
				<button @click="$event.preventDefault(); AddTrack()" title="Add a track to the end of this list" alt="Add a track to the end of this list">Add Track</button>&nbsp;&nbsp;&nbsp;&nbsp;
				<button @click="$event.preventDefault(); RemoveTrack()" title="Remove a track from the end of this list" alt="Remove a track from the end of this list">Remove Track</button>&nbsp;&nbsp;&nbsp;&nbsp;
				<button @click="$event.preventDefault(); ToggleTracks()" title="Show/Hide the track listing" alt="Show/Hide the track listing" v-text="tracksButton"></button>
			</p>
		</div>
		<table><tbody v-if="showingTracks" class="tracks">
			<tr is="track-row" v-for="(track, index) in album.tracklist" :key="index" :index="index" :ttitle="track.title" :tlength="track.length" @tinput="track.title = $event" @linput="track.length = $event"></tr>
		</tbody></table>

		<div class="buttons">
			<p>
				<button @click="$event.preventDefault(); SubmitAlbum()" class="go" title="Upload the album cover and Post this album for sale!" alt="Upload the album cover and Post this album for sale!" :disabled="saved === true">Post Album</button>
			</p>
		</div>
	</form>
	<div class="ajax-area" v-html="ajaxResult">

	</div>
</main>
