<main id="browse">
	<search-box :sartist="artist" :salbum="album" :scountry="country" @ainput="artist = $event" @binput="album = $event" @cinput="country = $event"></search-box>
	<input type="hidden" name="id" id="userid" value="{{USERID}}" />
	<div class="ajax-area" v-html="ajaxError">

	</div>
	<center><h2>Newest Releases:</h2></center>
	<div class="albums-box" v-if="primary != null">
		<album v-for="(al, index) in primary" :myid="al.id" :aartist="al.artist" :atitle="al.title" :aposted="al.posted" :acountry="al.country" :key="index">
			<template slot="img">
				<img :src="al.image" />
			</template>
			<template slot="info">
				<h2>{{ al.discs }} x <span class="media" v-text="al.media"></span></h2>
				<h3 v-if="al.buyer === ''"><span class="price">${{ al.price }}</span> from {{ al.seller }}</h3>
				<h3 v-else>Sold for <span class="price">${{ al.price }}</span> to {{ al.buyer }}</h3>
				{{BUYBUTTON}}
			</template>
			<template slot="tracklist">
				<ol v-if="al.tracklist.length > 0">
					<li v-for="tr in al.tracklist">{{ tr.title }} <i>({{ tr.length }})</i></li>
				</ol>
				<p><b>&copy; &copysr; {{ al.label }}</b></p>
			</template>
		</album>
	</div>
	<center><h2>Most Expensive Releases:</h2></center>
	<div class="albums-box" v-if="secondary != null">
		<album v-for="(al, index) in secondary" :myid="al.id" :aartist="al.artist" :atitle="al.title" :aposted="al.posted" :acountry="al.country" :key="index">
			<template slot="img">
				<img :src="al.image" />
			</template>
			<template slot="info">
				<h2>{{ al.discs }} x <span class="media" v-text="al.media"></span></h2>
				<h3 v-if="al.buyer === ''"><span class="price">${{ al.price }}</span> from {{ al.seller }}</h3>
				<h3 v-else>Sold for <span class="price">${{ al.price }}</span> to {{ al.buyer }}</h3>
				{{BUYBUTTON}}
			</template>
			<template slot="tracklist">
				<ol v-if="al.tracklist.length > 0">
					<li v-for="tr in al.tracklist">{{ tr.title }} <i>({{ tr.length }})</i></li>
				</ol>
				<p><b>&copy; &copysr; {{ al.label }}</b></p>
			</template>
		</album>
	</div>
	<center><h2>Your Collection:</h2></center>
	<div class="albums-box" v-if="tertiary != null">
		<album v-for="(al, index) in tertiary" :myid="al.id" :aartist="al.artist" :atitle="al.title" :aposted="al.posted" :country="al.country" :key="index">
			<template slot="img">
				<img :src="al.image" />
			</template>
			<template slot="info">
				<h2>{{ al.discs }} x <span class="media" v-text="al.media"></span></h2>
				<h3 v-if="al.buyer === ''"><span class="price">${{ al.price }}</span> from {{ al.seller }}</h3>
				<h3 v-else>You bought this for <span class="price">${{ al.price }}</span></h3>
			</template>
			<template slot="tracklist">
				<ol v-if="al.tracklist.length > 0">
					<li v-for="tr in al.tracklist">{{ tr.title }} <i>({{ tr.length }})</i></li>
				</ol>
				<p><b>&copy; &copysr; {{ al.label }}</b></p>
			</template>
		</album>
	</div>
</main>
