<main id="browse">
	<search-box :artist="artist" :album="album" :country="country" @ainput="artist = $event" @binput="album = $event" @cinput="country = $event"></search-box>
	<input type="hidden" name="id" id="userid" value="{{USERID}}" />
	<div class="ajax-error" v-if="ajaxError.length > 1" v-html="ajaxError">

	</div>
	<center><h2>Newest Releases:</h2></center>
	<div class="albums-box" v-if="primary.length > 0">
		<album v-for="(al, index) in primary" :myid="al.id" :artist="al.artist" :title="al.title" :posted="al.posted" :country="al.country" :key="index" :rid="index + 1">
			<template slot="img">
				<img :src="al.image" />
			</template>
			<template slot="info">
				<h2>{{ al.discs }}x{{ al.media }}</h2>
				<h3>${{ al.price }} from {{ al.seller }}</h3>
				{{BUYBUTTON}}
			</template>
			<template slot="tracklist">
				<ol v-if="al.tracklist.length > 0">
					<li v-for="tr in al.tracklist">{{ tr.title }} <i>({{ tr.length }})</i></li>
				</ol>
				<p><b>{{ al.label }}</b></p>
			</template>
		</album>
	</div>
	<center><h2>Most Expensive Releases:</h2></center>
	<div class="albums-box" v-if="secondary.length > 0">
		<album v-for="(al, index) in secondary" :myid="al.id" :artist="al.artist" :title="al.title" :posted="al.posted" :country="al.country" :key="index" :rid="index + 11">
			<template slot="img">
				<img :src="al.image" />
			</template>
			<template slot="info">
				<h2>{{ al.discs }}x{{ al.media }}</h2>
				<h3>${{ al.price }} from {{ al.seller }}</h3>
				{{BUYBUTTON}}
			</template>
			<template slot="tracklist">
				<ol v-if="al.tracklist.length > 0">
					<li v-for="tr in al.tracklist">{{ tr.title }} <i>({{ tr.length }})</i></li>
				</ol>
				<p><b>{{ al.label }}</b></p>
			</template>
		</album>
	</div>
	<center><h2>Your Collection:</h2></center>
	<div class="albums-box" v-if="tertiary.length > 0">
		<album v-for="(al, index) in tertiary" :myid="al.id" :artist="al.artist" :title="al.title" :posted="al.posted" :country="al.country" :key="index" :rid="index + 21">
			<template slot="img">
				<img :src="al.image" />
			</template>
			<template slot="info">
				<h2>{{ al.discs }}x{{ al.media }}</h2>
				<h3>${{ al.price }} from {{ al.seller }}</h3>
				{{BUYBUTTON}}
			</template>
			<template slot="tracklist">
				<ol v-if="al.tracklist.length > 0">
					<li v-for="tr in al.tracklist">{{ tr.title }} <i>({{ tr.length }})</i></li>
				</ol>
				<p><b>{{ al.label }}</b></p>
			</template>
		</album>
	</div>
</main>
