<main id="browse">
	<search-box :sartist="artist" :salbum="album" :scountry="country"></search-box>
	<input type="hidden" name="id" id="userid" value="{{USERID}}" />
	<div class="ajax-area" v-html="ajaxError">

	</div>
	<center><h2 v-html="heading"></h2></center>
	<div class="albums-box" v-if="primary.length > 0">
		<album v-for="(al, index) in primary" :myid="al.id" :aartist="al.artist" :atitle="al.title" :aposted="al.posted" :acountry="al.country" :aprice="al.price" :acurrency="al.currency" :aseller="al.seller" :asellerid="al.sellerid" :abuyer="al.buyer" :abuyerid="al.buyerid" :key="index">
			<template slot="img">
				<img :src="al.image" />
			</template>
			<template slot="info">
				<h2>{{ al.discs }} x <span class="media" v-text="al.media"></span></h2>
				<p>Condition: <b v-text="ConditionExpand(al.cond)"></b></p>
				{{BUYBUTTON}}
			</template>
			<template slot="tracklist">
				<ol v-if="al.tracklist.length > 0">
					<li v-for="tr in al.tracklist">{{ tr.title }} <i>({{ tr.length }})</i></li>
				</ol>
				<p><b>&copy; &copysr; {{ al.label }}</b></p>
			</template>
		</album>
	</div>
</main>
