<!DOCTYPE html>
<html lang="en">
	<head>
		<title>{{TITLE}}</title>
		<meta charset="utf-8" />
		<meta name="description" content="{{DESCRIPTION}}" />
		<link rel="icon" href="/images/favicon.png" />
		<link rel="stylesheet" href="/homework/assets/css/waxchange.css" />
		<link rel="stylesheet" href="/homework/assets/css/album.css" />
		<link rel="stylesheet" href="/homework/assets/css/input-row.css" />
		<link rel="stylesheet" href="/homework/assets/css/track-row.css" />
		<script src="https://unpkg.com/vue@2.6.11"></script>
		<script src="https://unpkg.com/vue-resource@1.5.1"></script>
	</head>
	<body>
		<div class="container">
			<header>
				<h1><a href="index">WaXchange</a> <a class="small" href="settings">Settings</a></h1>
				<nav class="navigation">
					<ul>
						<li><a href="browse">Browse</a></li>
						<li><a href="album">Post Album</a></li>
						<li><a href="user?id={{USERID}}">My Account</a></li>
						<li><a href="logout">Log Out</a></li>
					</ul>
				</nav>
			</header>