<!DOCTYPE html>
<html lang="en">
	<head>
		<title>{{TITLE}}</title>
		<meta charset="utf-8" />
		<meta name="description" content="{{DESCRIPTION}}" />
		<meta name="og:title" content="{{TITLE}}" />
		<meta name="og:description" content="{{DESCRIPTION}}" />
		<meta name="og:image" content="{{OGIMAGE}}" />
		<link rel="icon" href="/homework/wdv341/wax/img/album/default.png" />
		<link rel="stylesheet" href="/homework/assets/css/waxchange.css" />
		<link rel="stylesheet" href="/homework/assets/css/album.css" />
		<link rel="stylesheet" href="/homework/assets/css/input-row.css" />
		<link rel="stylesheet" href="/homework/assets/css/search-box.css" />
		<link rel="stylesheet" href="/homework/assets/css/track-row.css" />
		<link rel="stylesheet" href="/homework/assets/css/waxMobile.css" media="screen and (max-width: 700px)" />
		<link rel="stylesheet" href="/homework/assets/css/waxchange.css" media="only screen and (min-width: 769px)" />
		<link rel="stylesheet" href="/homework/assets/css/waxLandscape.css" media="only screen and (orientation: landscape) and (min-width:768px)(max-width:1024px)" />
		<link rel="stylesheet" href="/homework/assets/css/waxLandscape.css" media="only screen and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2)" />
		<link rel="stylesheet" href="/homework/assets/css/waxMobile.css" media="only screen and (orientation: portrait)" />
		<script src="https://unpkg.com/vue@2.6.11"></script>
		<script src="https://unpkg.com/vue-resource@1.5.1"></script>
	</head>
	<body>
		<div class="container">
			<header>
				<h1><a href="index" title="Your Dashboard" alt="Your Dashboard">WaXchange</a> <a class="small" href="settings" title="Settings for your WaXchange account" alt="Settings for your WaXchange account">Settings</a></h1>
				<nav class="navigation">
					<ul>
						<li><a href="browse" title="Browse releases for sale on WaXchange" alt="Browse releases for sale on WaXchange">Browse</a></li>
						<li><a href="album" title="Post a new release to the WaXchange market" alt="Post a new release to the WaXchange market">Post Album</a></li>
						<li><a href="user?id={{USERID}}" title="View your user account page" alt="View your user account page">My Account</a></li>
						<li><a href="logout" title="Log out of WaXchange" alt="Log out of WaXchange">Log Out</a></li>
					</ul>
				</nav>
			</header>
