<!DOCTYPE html>
<html lang="en">
	<head>
		<title>{{TITLE}}</title>
		<meta charset="utf-8" />
		<meta name="description" content="{{DESCRIPTION}}" />
		<meta name="og:title" content="{{TITLE}}" />
		<meta name="og:description" content="{{DESCRIPTION}}" />
		<meta name="og:image" content="{{OGIMAGE}}" />
		<link rel="icon" href="/homework/wdv341/wax/img/album/default.png" />
		<link rel="stylesheet" href="/homework/assets/css/waxchange.css" />
	</head>
	<body>
		<div class="container">
			<header>
				<h1><a href="index" title="Why join WaXchange?" alt="Why join WaXchange?">WaXchange</a></h1>
				<nav class="navigation">
					<ul>
						<li><a href="login" title="Log in to your WaXchange account" alt="Log in to your WaXchange account">Login</a></li>
						<li><a href="register" title="Register for WaXchange" alt="Register for WaXchange">Register</a></li>
						<li><a href="browse" title="Browse releases for sale on WaXchange" alt="Browse releases for sale on WaXchange">Browse</a></li>
						<li><a href="about" title="About WaXchange" alt="About WaXchange">About</a></li>
					</ul>
				</nav>
			</header>
