<!DOCTYPE html>
<html lang="en">
	<head>
		<title>{{TITLE}}</title>
		<meta charset="utf-8" />
		<meta name="description" content="{{DESCRIPTION}}" />
		<link rel="icon" href="/images/favicon.png" />
		<link rel="stylesheet" href="/homework/assets/css/waxchange.css" />
		<link rel="stylesheet" href="/homework/assets/css/album.css" />
		<link rel="stylesheet" href="/homework/assets/css/input-row.css" />
		<link rel="stylesheet" href="/homework/assets/css/search-box.css" />
		<link rel="stylesheet" href="/homework/assets/css/track-row.css" />
		<script src="https://unpkg.com/vue@2.6.11"></script>
		<script src="https://unpkg.com/vue-resource@1.5.1"></script>
	</head>
	<body>
		<div class="container">
			<header>
				<h1><a href="index" title="Your Dashboard" alt="Your Dashboard">WaXchange</a> <a class="small" href="settings" title="Settings for your WaXchange account" alt="Settings for your WaXchange account">Settings</a></h1>
				<nav class="navigation">
					<ul>
						<li><a href="browse" title="Browse releases for sale on WaXchange" alt="Browse releases for sale on WaXchange">Browse</a></li>
						<li><a href="album" title="Post a new release to the WaXchange market" alt="Post a new release to the WaXchange market">Post Album</a></li>
						<li><a href="user?id={{USERID}}" title="View your user account page" alt="View your user account page">My Account</a></li>
						<li><a href="logout" title="Log out of WaXchange" alt="Log out of WaXchange">Log Out</a></li>
					</ul>
				</nav>
			</header>
