<!DOCTYPE html>
<html lang="en">
	<head>
		<title>{{TITLE}}</title>
		<meta charset="utf-8" />
		<meta name="description" content="{{DESCRIPTION}}" />
		<link rel="stylesheet" href="/homework/assets/css/waxchange.css" />
		<link rel="stylesheet" href="/homework/assets/css/album.css" />
		<link rel="stylesheet" href="/homework/assets/css/search-box.css" />
		<link rel="icon" href="/images/favicon.png" />
		<script src="https://unpkg.com/vue@2.6.11"></script>
		<script src="https://unpkg.com/vue-resource@1.5.1"></script>
	</head>
	<body>
		<div class="container">
			<header>
				<h1><a href="index" title="Why join WaXchange?" alt="Why join WaXchange?">WaXchange</a></h1>
				<nav class="navigation">
					<ul>
						<li><a href="login" title="Log in to your WaXchange account" alt="Log in to your WaXchange account">Login</a></li>
						<li><a href="register" title="Register for WaXchange" alt="Register for WaXchange">Register</a></li>
						<li><a href="browse" title="Browse releases for sale on WaXchange" alt="Browse releases for sale on WaXchange">Browse</a></li>
						<li><a href="about" title="About WaXchange" alt="About WaXchange">About</a></li>
					</ul>
				</nav>
			</header>