<main id="home">
	{{IF_LOGGED_IN}}
	<h2>Welcome back, {{USERNAME}}!</h2>
	<input type="hidden" name="id" id="userid" value="{{USERID}}" />
	<div class="ajax-error" v-if="ajaxError.length > 1" v-html="ajaxError">

	</div>
	<div class="purchases" v-if="purchased != null">
		<h2>Your Purchases:</h2>
		<table class="index-table pur"><thead>
			<tr>
				<td><b>Artist - <i>Title</i></b></td>
				<td><b>Price</b></td>
				<td><b>Seller</b></td>
				<td><b>Date Purchased</b></td>
			</tr>
		</thead><tbody>
			<tr v-for="(al, index) in purchased" :key="index">
				<td>
					<a :href="AlbumHref(al.id)" title="View this release" alt="View this release">{{ al.artist }} - <i>{{ al.title }}</i></a>
				</td>
				<td>
					<span class="price"><span v-html="CurrencySymbol(al.currency)"></span>{{ al.price }}</span>
				</td>
				<td>
					{{ al.seller }}
				</td>
				<td>
					<span v-text="NicePurchased(al.purchased)"></span>
				</td>
			</tr>
		</tbody></table>
	</div>
	<div class="inventory" v-if="inventory != null">
		<h2>Your Inventory:</h2>
		<table class="index-table inv"><thead>
			<tr>
				<td><b>Artist - <i>Title</i></b></td>
				<td><b>Price</b></td>
				<td><b>Buyer</b></td>
				<td><b>Edit</b></td>
			</tr>
		</thead><tbody>
			<tr v-for="(al, index) in inventory" :key="index">
				<td>
					<a :href="AlbumHref(al.id)" title="View this release" alt="View this release">{{ al.artist }} - <i>{{ al.title }}</i></a>
				</td>
				<td>
					<span class="price"><span v-html="CurrencySymbol(al.currency)"></span>{{ al.price }}</span>
				</td>
				<td>
					<span v-if="al.buyer != null">{{ al.buyer }}</span>
				</td>
				<td>
					<button class="edit" @click="EditBtn(al.id)" title="Edit this release" alt="Edit this release">Edit</button> &bull;
					<button class="edit" @click="DeleteBtn(al.id)" title="Delete this release" alt="Delete this release">Delete</button>
				</td>
			</tr>
		</tbody></table>
	</div>
	{{ENDIF}}
	{{IF_NOT_LOGGED_IN}}
	<h2>Why join WaXchange?</h2>
	<p>Join a huge community of music lovers, people who can buy and sell physical music to and from each other. Please check out the site! You can look at anyone's albums, but to buy or sell you must <a href="register">make an account.</a> It's easy! Just a few steps and then you'll be invited into hipster patrician utopia. What are you into? The Cure, Peter Br&ouml;tzmann, Jordaan Mason? Or are you more of a musique concrete and field recordings type of fella? Whatever your taste is, you can use WaXchange to find like-minded people. <b>It's free!</b></p>
	{{ENDNIF}}
</main>
<script src="/homework/assets/js/waxIndex.min.js"></script>
