<main id="home">
	{{IF_LOGGED_IN}}
	<h2>Welcome back, {{USERNAME}}!</h2>
	<input type="hidden" name="id" id="userid" value="{{USERID}}" />
	<div class="ajax-error" v-if="ajaxError.length > 1" v-html="ajaxError">

	</div>
	<div class="purchases" v-if="purchased.length > 0">
		<h2>Your Purchases:</h2>
		<ul>
			<li v-for="(al, index) in purchased" :key="index"><a :href="albumhref(al.id)">{{ al.artist }} - {{ al.title }}</a></li>
		</ul>
	</div>
	<div class="inventory" v-if="inventory.length > 0">
		<h2>Your Inventory:</h2>
		<ul>
			<li v-for="(al, index) in inventory" :key="index"><a :href="albumhref(al.id)">{{ al.artist }} - {{ al.title }}</a> &bull; <a :href="edithref(al.id)">(Edit)</a></li>
		</ul>
	</div>
	{{ENDIF}}
	{{IF_NOT_LOGGED_IN}}
	<h2>Why join WaXchange?</h2>
	<p>Join a huge community of music lovers, people who can buy and sell physical music to and from each other. Please check out the site! You can look at anyone's albums, but to buy or sell you must <a href="register">make an account.</a> It's easy! Just a few steps and then you'll be invited into hipster patrician utopia. What are you into? The Cure, Peter Br&ouml;tzmann, Jordaan Mason? Or are you more of a musique concrete and field recordings type of fella? Whatever your taste is, you can use WaXchange to find like-minded people. <b>It's free!</b></p>
	{{ENDNIF}}
</main>
<script src="/homework/assets/js/waxIndex.min.js"></script>
