<!DOCTYPE html>
<html lang="en">
	<head>
		<title>{{TITLE}}</title>
		<meta charset="utf-8" />
		<meta name="description" content="{{DESCRIPTION}}" />
		<link rel="icon" href="/images/favicon.png" />
		<link rel="stylesheet" href="/homework/assets/css/waxchange.css" />
	</head>
	<body>
		<div class="container">
			{{IF_LOGGED_IN}}
			<header>
				<h1><a href="index">WaXchange</a></h1>
				<nav class="navigation">
					<ul>
						<li><a href="browse">Browse</a></li>
						<li><a href="album">Post Album</a></li>
						<li><a href="user?id={{USERID}}">My Account</a></li>
						<li><a href="logout">Log Out</a></li>
					</ul>
				</nav>
			</header>
			{{ENDIF}}
			{{IF_NOT_LOGGED_IN}}
			<header>
				<h1><a href="index">WaXchange</a></h1>
				<nav class="navigation">
					<ul>
						<li><a href="login">Login</a></li>
						<li><a href="register">Register</a></li>
						<li><a href="browse">Browse</a></li>
						<li><a href="about">About</a></li>
					</ul>
				</nav>
			</header>
			{{ENDNIF}}
			<main id="home">
				{{2IF_LOGGED_IN}}
				<h2>Welcome back, {{USERNAME}}!</h2>
				<div class="purchases">
					<h3>Your Purchases</h3>
					{{PURCHASES}}
				</div>
				<div class="inventory">
					<h3>Your Inventory</h3>
					{{INVENTORY}}
				</div>
				{{2ENDIF}}
				{{2IF_NOT_LOGGED_IN}}
				<h2>Why join WaXchange?</h2>
				<p>Join a huge community of music lovers, people who can buy and sell physical music to and from each other. Please check out the site! You can look at anyone's albums, but to buy or sell you must <a href="register">make an account.</a> It's easy! Just a few steps and then you'll be invited into hipster patrician utopia. What are you into? The Cure, Peter Br&ouml;tzmann, Jordaan Mason? Or are you more of a musique concrete and field recordings type of fella? Whatever your taste is, you can use WaXchange to find like-minded people. <b>It's free!</b></p>
				{{2ENDNIF}}
			</main>
			<footer>
				<p><a href="about">About WaXchange</a> &bull; <a href="contact">Contact</a></p>
				<p><a href="/homework/index?c=wdv341">&rarr; Return to WDV341 Homework &larr;</a></p>
				<p>Copyright &copy; 2020 Tanner Babcock.</p>
			</footer>
		</div>
	</body>
</html>
