<!DOCTYPE html>
<html lang="en">
	<head>
		<title>WaXchange &bull; Login</title>
		<meta charset="utf-8" />
		<link rel="icon" href="/images/favicon.png" />
		<link rel="stylesheet" href="/homework/assets/css/waxchange.css" />
		<script src="https://unpkg.com/vue@2.6.11"></script>
		<script src="https://unpkg.com/vue-resource@1.5.1"></script>
	</head>
	<body>
		<header class="notloggedin">
			<nav class="navigation">
				<ul>
					<li><a href="/homework/wdv341/wax/login">Login</a></li>
					<li><a href="/homework/wdv341/wax/register">Register</a></li>
					<li><a href="/homework/wdv341/wax/browse">Browse</a></li>
					<li><a href="/homework/wdv341/wax/about">About</a></li>
				</ul>
			</nav>
		</header>
		<main id="login">
			<form action="login" class="login-form" enctype="multipart/form-data">

			</form>
		</main>
		<footer>

		</footer>
		<script src="/homework/assets/js/waxlogin.min.js"></script>
	</body>
</html>