<!DOCTYPE html>
<html lang="en">
	<head>
		<title>WaXchange &bull; Register</title>
		<meta charset="utf-8" />
		<meta name="description" content="Sign up for the WaXchange market! Buy and sell as many albums as you want!" />
		<link rel="stylesheet" href="/homework/assets/css/waxchange.css" />
		<link rel="icon" type="image/png" href="/images/favicon.png" />
		<script src="https://unpkg.com/vue@2.6.11"></script>
		<script src="https://unpkg.com/vue-resource@1.5.1"></script>
	</head>
	<body>
		<header class="notloggedin">
			<h1>WaXchange</h1>
			<nav class="navigation">
				<ul>
					<li><a href="/homework/wdv341/wax/login">Login</a></li>
					<li><a href="/homework/wdv341/wax/register">Register</a></li>
					<li><a href="/homework/wdv341/wax/browse">Browse</a></li>
					<li><a href="/homework/wdv341/wax/about">About</a></li>
				</ul>
			</nav>
		</header>
		<main id="register">

		</main>
		<footer>
			<p><a href="/homework/index?c=wdv341">&rarr; Return to WDV341 Homework &larr;</a></p>
			<p>Copyright &copy; 2020 Tanner Babcock.</p>
		</footer>
		<script src="/homework/assets/js/waxRegister.min.js"></script>
	</body>
</html>