<main id="settings">
	<form action="" class="settings-form" method="post" enctype="multipart/form-data">
		<h2>Change Password</h2>
		<p>There are no requirements on passwords.</p>
		<table class="main-user-info"><tbody>
			<tr>
				<td><label><b>Old Password:</b></label></td>
				<td>
					<input type="password" name="oldpassword" v-model="userinfo.oldpassword" @blur="userinfo.oldpassword = $event.target.value" />
				</td>
			</tr>
			<tr>
				<td><label><b>New Password:</b></label></td>
				<td>
					<input type="password" name="newpassword" v-model="userinfo.newpassword" @blur="userinfo.newpassword = $event.target.value" />
				</td>
			</tr>
			<tr>
				<td><label><b>Confirm New Password:</b></label></td>
				<td>
					<input type="password" name="newpassword2" v-model="userinfo.newpassword2" @blur="userinfo.newpassword2 = $event.target.value" />
				</td>
			</tr>
		</tbody></table>
		<br />
		<h2>Change Country</h2>
		<p>Change the country that appears on your profile.</p>
		<table class="main-user-info"><tbody>
			<tr>
				<td><label><b>Country:</b></label></td>
				<td>
					<select v-model="userinfo.country" @change="userinfo.country = $event.target.value">
						<option value="">{{USER_COUNTRY}}</option>
						<option value="us">United States</option>
						<option value="ca">Canada</option>
						<option value="mx">Mexico</option>
						<option value="uk">United Kingdom</option>
						<option value="ie">Ireland</option>
						<option value="au">Australia</option>
						<option value="fr">France</option>
						<option value="ru">Russian Federation</option>
						<option value="es">Spain</option>
						<option value="de">Germany</option>
						<option value="pl">Poland</option>
						<option value="it">Italy</option>
						<option value="fi">Finland</option>
						<option value="lx">Luxembourg</option>
						<option value="no">Norway</option>
						<option value="dk">Denmark</option>
						<option value="se">Sweden</option>
						<option value="nl">Netherlands</option>
						<option value="ba">Bosnia and Herzegovina</option>
						<option value="ch">Switzerland</option>
						<option value="is">Iceland</option>
						<option value="cn">China</option>
						<option value="jp">Japan</option>
						<option value="kr">South Korea</option>
						<option value="ph">Philippines</option>
						<option value="cz">Czech Republic</option>
						<option value="lv">Latvia</option>
						<option value="br">Brazil</option>
						<option value="am">Armenia</option>
						<option value="az">Azerbaijan</option>
						<option value="ua">Ukraine</option>
						<option value="at">Austria</option>
						<option value="tr">Turkey</option>
						<option value="in">India</option>
						<option value="hu">Hungary</option>
						<option value="ro">Romania</option>
					</select>
				</td>
			</tr>
		</tbody></table>

		<h2>Upload Avatar</h2>
		<p>This is your old avatar. If you want, you can upload an image file to replace it. Be careful, though, once an old avatar is replaced, it's not possible to recover it.</p>
		<div class="avatar">
			<img src="{{USERIMG}}" />
		</div>
		<table class="main-user-info"><tbody>
			<tr>
				<td><label><b>Upload New Avatar:</b></label></td>
				<td>
					<input type="file" ref="image" name="image" @change="file = true" title="Upload an avatar to replace your existing avatar" alt="Upload an avatar to replace your existing avatar" />
				</td>
			</tr>
		</tbody></table>
		<br />
		<h2>Profile</h2>
		<p>This is your biography text that appears on your profile. You can have whatever you want in this field to express yourself.</p>
		<textarea v-model="userinfo.biography" id="profile" name="biography" cols=40 rows=7 placeholder="Enter whatever you want here! Plain text only, 600 character limit.">{{BIOGRAPHY}}</textarea>
		<br />
		<h2>Email Preference</h2>
		<p>You can choose to hide your email from other users, abstract it (like: "bob dot smith at gmail dot com"), or show the entire email.</p>
		<table class="main-user-info"><tbody>
			<tr>
				<td><label><b>Email Preference:</b></label></td>
				<td>
					<select v-model="userinfo.showemail" name="showemail">
						<option value="one" {{HIDE_SELECT}}>Hide My Email</option>
						<option value="two" {{ABSTRACT_SELECT}}>Abstract My Email</option>
						<option value="three" {{SHOW_SELECT}}>Show My Email</option>
					</select>
				</td>
			</tr>
		</tbody></table>
		<div class="buttons">
			<p>
				<button @click="$event.preventDefault(); SubmitSettings()" class="go" title="Save your user preferences." alt="Save your user preferences.">Save Changes</button>
			</p>
		</div>
	</form>
	<div class="ajax-area" v-html="ajaxResult">

	</div>
</main>
