@import "variables.scss";

body {
	background:$MobileBg;
	color:black;
}

.container {
	color:black;
	font-family:"Arial" !important;
	@include WidthMargins(90%, 5%, 5%);
}

a, a:link, a:visited, a:active {
	color:black;
	text-decoration:none;
}
a:hover {
	color:#202020;
}

p, li, a, b {
	font-size:1.55em;
}

h1 {
	font-size: 2.4em;
	text-shadow: 2px 2px skyblue;
	color: #202020;
}

nav {
	@include WidthMargins(100%, 0%, 0%);
	border-radius:34px 34px 34px 34px;
	padding:6px;
	margin-bottom:4px;
	background-color:$MobileNavBg;
	color:black;
	ul {
		display:inline;
		text-align:center;
		width:90%;
		li {
			list-style-type:none;
			@include WidthMargins(90%, 5%, 5%);
			background-color:$MobileLinkBg;
			border:1px solid gray;
			margin-top:4px;
			margin-bottom:5px;
			border-radius:30px 30px 30px 30px;
			a {
				font-size:1.89em;
				padding:5px;
				color:black;
				border-radius:30px 30px 30px 30px;
				&:hover {
					padding:5px !important;
					background-color:$MobileLinkHoverBg;
					color:white;
				}
			}
		}
	}
}

.recipe { color:black !important; }

#displaySlider {
	display:flex;
	flex-wrap:wrap;
	flex-direction:column;
	justify-content:center;
	.box {
		padding:6px;
		@include WidthMargins(98%, 1%, 1%);
		border:2px solid $MobileBoxBord;
		background:$MobileBoxBg;
		margin-top:5px;
		margin-bottom:5px;
		border-radius:31px 31px 32px 32px;
		color:black;
		h2 {
			color:skyblue;
			text-shadow:2px 3px #201817;
			font-size:1.75em;
		}
		h3 {
			font-size:1.65em;
		}
		ul, ol {
			border:0 !important;
			padding:5px;
			margin-left:2em;
			li {
				font-size:1.49em;
				line-height:1.5;
				margin-top:3px;
				margin-bottom:3px;
			}
		}
	}
}

form {
	font-size:1.62em;
	display:block;
	padding:7px;
	background:$MobileFormBg;
	border:1px solid rgba(0, 0, 0, 0);
	border-radius:34px 34px 34px 34px;
	margin-top:3px;
	margin-bottom:3px;
	.formflex {
		display:inline;
		input, select {
			color:$MobileInputFg;
			font-size:1.5em;
			@include WidthMargins(90%, 1%, 1%);
			background-color:$MobileInputBg;
			border:1px solid $MobileInputBord;
			padding:7px !important;
			width:100% !important;
			max-width:100% !important;
			min-width:100% !important;
			&:hover {
				color:black !important;
				border:1px solid #efefef;
				background-color:$MobileInputHoverBg;
				padding:7px !important;
				width:100% !important;
				max-width:100% !important;
				min-width:100% !important;
			}
		}
		span {
			font-size:1.35em;
			margin-top:4px;
			margin-bottom:4px;
			width:100%;
		}
	}
}

button {
	width:100%;
	padding-top:12px;
	padding-bottom:14px;
	background-color:$MobileButtonBg;
	border:1px solid #dfdfdf;
	margin-top:3px;
	margin-bottom:4px;
	&:hover {
		width:100%;
		padding-top:12px;
		padding-bottom:14px;
		background-color:$MobileButtonHoverBg;
		border:1px solid white;
		margin-top:3px;
		margin-bottom:4px;
	}
}

.ingredient {
	display:inline;
	text-align:center;
	width:100%;
	background:rgba(10, 10, 10, 0.1);
	td {
		width:100% !important;
		float:left;
		margin-top:4px;
		margin-bottom:4px;
		color:$MobileInputFg;
		input, select {
			color:$MobileInputFg;
			font-size:1.5em;
			@include WidthMargins(92%, 1%, 1%);
			background-color:$MobileInputBg;
			border:1px solid $MobileInputBord;
			padding:7px !important;
			&:hover {
				color:black !important;
				border:1px solid #efefef;
				background-color:$MobileInputHoverBg;
				padding:7px !important;
			}
		}
	}
}

.ingredient td:nth-child(3) {
	width:100%;
}
.ingredient td:nth-child(4) {
	width:100%;
}

form .steps tr td {
	input {
		color:$MobileInputFg;
		font-size:1.5em;
		background-color:$MobileInputBg;
		border:1px solid $MobileInputBord;
		padding:7px;
		width:80%;
		margin-left:1%;
		&:hover {
			color:black !important;
			border:1px solid $MobileInputHoverBord;
			padding:7px !important;
			width:80% !important;
			background-color:$MobileInputHoverBg;
			margin-left:1%;
			font-size:1.5em;
		}
	}
}

.recipes tbody tr td, .recipes thead tr td {
	background:none;
	width:95%;
	float:left;
}

.recipes tbody tr td:first-child {
	text-align:center;
}

footer {
	font-size:1.25em;
	p a {
		display:none;
	}
}