@import "variables.scss";

body {
	background:linear-gradient(#114352, #24102c);
}

.container {
	color:white;
	font-family:"Arial" !important;
	width:90%;
	margin-left:5%;
	margin-right:5%;
}

a, a:link, a:visited, a:active {
	color:lime;
}

a:hover {
	color:#cdefcd;
	text-decoration:underline;
}

nav {
	width:99%;
	padding:5px;
	text-align:center;
	ul {
		width:90%;
		text-align:center;
		display:flex;
		li {
			list-style-type:none;
			width:23%;
			margin-left:1%;
			margin-right:1%;
			font-size:1.13em;
			color:white;
			border:1px solid gray;
			a {
				width:100%;
				display:block;
			}
		}
		li:hover {
			color:#efdfdf;
			font-size:1.13em;
			text-decoration:underline;
			list-style-type:none;
			border:1px solid white;
		}
	}
}

p.error {
	color:red;
}
p.success {
	color:lime;
}

#displaySlider {
	width:92%;
	margin-left:4%;
	margin-right:3%;
	display:flex;
	flex-wrap:wrap;
	flex-direction:row;
	justify-content:center;
	.box {
		width:24%;
		margin-left:2px;
		margin-right:2px;
		border:1px solid white;
		background:rgba(10, 10, 30, 0.3);
		padding:4px;
	}
}

footer {
	display:block;
	text-align:center;
	font-size:0.98em;
	width:100%;
	margin-top:3px;
}

form {
	width:92%;
	margin-left:4%;
	margin-right:4%;
	display:block;
	background:rgba(10, 10, 30, 0.3);
	border:1px solid white;
	padding:4px;
	.formflex {
		display:flex;
		flex-direction:row;
		flex-wrap:nowrap;
		width:99%;
		justify-content:center;
		margin-top:3px;
		margin-bottom:3px;
		span {
			width:auto;
			min-width:32%;
			max-width:49%;
			margin-right:1%;
			font-size:1.08em;
			text-align:right;
			padding:5px;
		}
		input, select {
			text-align:left;
			color:#efefef !important;
			background-color:#121212;
			border:1px solid #141414;
			font-size:1.08em !important;
			padding:6px;
			width:auto;
			min-width:31%;
			max-width:48%;
			margin-left:1%;
			margin-right:1%;
			&:hover {
				background-color:#202020;
				color:white !important;
				border:1px solid #304130;
			}
		}
	}
	table, table tbody, table thead {
		width:100%;
	}
}

button, input[type="submit"] {
	-moz-appearance:none;
	appearance:none;
	background-color:#2a3f2a;
	font-family:"Arial" !important;
	color:#eee;
	border:1px solid #336f33;
	border-radius:22px;
	font-size:1.1em;
	padding:8px;
	margin:3px;
	box-shadow:2px 2px lime;
	&:hover {
		background-color:#314c31;
		color:white !important;
		border:1px solid #437d43;
		box-shadow:0px !important;
	}
	&:active, &:focus {
		outline:0 !important;
		background-color:#0d270d;
		color:#dedede;
		border:1px solid #205320;
		box-shadow:-2px -2px black;
	}
}
